body 
{
	font-family: Fantasy;
	font-weight: bold;
	font-size: 18px;
}

.bossInfo
{
	margin: auto;
	text-align: center;
}

p
{
	font-height: 50%;
}

.bossSelect
{
	margin: auto;
	text-align: center;
	align: center;
}

.bossImage
{
	position:relative;
	float: none;
	width:  700px;
	height: 500px;
	/*  background-position: 50% 50%; */
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}